/project/REScala-clone/
/dependencies/
/evaluation/auto/evaluation.el
/evaluation/chain.png
/evaluation/evaluation.fls
/evaluation/evaluation.pdf
/evaluation/evaluation.pyg
/evaluation/evaluation.tex
/evaluation/tree.png
/evaluation/tree_fused.png
